<main>
  <% @links.map do |link| %>
    <div class="card">
      <p class="card-title grey-text text-darken-4"><%=link.title%></p>
      <p>Email <a target="_blank" href=<%= "mailto:#{link.email}" %>><%= link.name%></a> to find out more or check their
      <% if link.url %>
        <a target="_blank" href=<%= link.url %>>website</a>,
      <% end %>
      <% if link.facebook %>
        <a target="_blank" href=<%= link.facebook %>>Facebook</a>
      <% end %>
      </p>
    </div>
  <% end %>
</main>
